<h2><%= author.name %></h2>
<a href="/authors/<%=author.id%>/edit">Edytuj</a>
<%- include('../partials/deleteForm', {url: `/authors/${author.id}`})%>
<%if(booksByAuthor.length > 0){%>
<h2>Sceny autora</h2>
<div>
  <br />
  <% booksByAuthor.forEach(book => {%>
    <a href="/books/<%= book.id%>">
  <img src="<%= book.coverImagePath %>" /></a>
  <%})%>
</div>
<% } %>
